@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}
img{
    width: 100%;
}
.container{
    width: min(90% ,1120px);
    margin-inline: auto;
}
header{
    height: 5rem;
    background-color: #fff;
    cursor: pointer;
   
}
.menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu h1{
    font-size: 1.625rem;
    font-weight: 700; 
   
}
.menu h1:hover{
    color: #f44749;
}

.menu-links{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.menu-links li{
    list-style: none;
}
.menu-links li a{
    text-decoration: none;
    font-size: 1.125rem;
    color: #717275;
}
.menu-links .active{
    color: #f44749;
   
}
.menu-links li a:hover{
    color: #f44749;
}
.btn{
    background-color: #dc3545;
    border: none;
    padding: 10px 2rem;
    color: white;
    border-radius: 4px;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1.125rem;
}
.btn:hover{
    background-color:#c02e3d;
}
.humburger{
    display: none;
}
.hero{
  
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/header/priscilla-du-preez-W3SEyZODn8U-unsplash.jpg")center/cover no-repeat;
    height: 18.93rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.hero-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 1.5rem;
}
h1{
    font-size: 3.5rem;
    line-height: 1.2rem;
    
}
.hero strong{
    font-size: 1.5rem;
    line-height: 1.2rem;
}
.letest-updates{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.last_update-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
 }
 .last_update{
    height: 18rem;
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: self-start;
   padding: 2rem ;
   gap: 5rem;
   color: #fff;
 }
  h5{
    font-size:1.625rem;
    line-height:2rem;
    font-weight: 500;
 }
 .update1{
   
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/news/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg") top/cover no-repeat;
 }
 .update2{
    
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/news/stefan-johnson-xIFbDeGcy44-unsplash.jpg")center/cover no-repeat;
 }

.news-events{
    margin-top: 10rem;
    height: 64.1875rem;
    background-color:#F9F9F9;
   display: flex;
   align-items: center;
  
 }
 .flex-events-news{
    display: flex;
    flex-direction: column;
    gap: 5rem;
 }
 
 .tags{
    background-color: #dc3545;
    color: #fff;
    padding: 0.5rem .8rem;
    border-radius: 5px;
    font-size: 14px;
 }
 .events-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
 }
 .events{
    display:  flex;
    flex-direction: column;
    gap: 2rem;
 }
 .event-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 2rem;
 }
 .event-info h5:hover{
    color: #dc3545;
 }
 .tag-date{
    display:  flex;
    align-items: center;
    gap: 1rem;
 }
 .tag3,.tag5{
    background-color:#0dcaf0;
 }
 footer{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/daan-evers-tKN1WXrzQ3s-unsplash.jpg")center/cover no-repeat;
  
}
.footer-site{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 5rem;
}
.footer-site h4{
    font-size: 1.5rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-grid h6{
    font-size:1.375rem;
    color: #fff;
    margin-bottom: 2rem;
}
.footer-grid p{
    color: #AAA;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.footer-grid button{
    background-color: #212529;
    color: #AAA;
    cursor: pointer;
}
.footer-grid button:hover{
    color: #fff;
    background-color: #212529;
}
.hover:hover{
    color: #fff;
    cursor: pointer;
}
.media i{
    color: #AAA;
    font-size: 1.125rem;
    margin-bottom: 3rem;
    margin-right: .5rem;

}


@media (max-width:768px) {
    .menu{
        gap: 5px;
       
    }
    .menu h1{
        font-size: 2rem;
    }
    .btn{
        margin-right: 10px;
        padding-inline: 1.5rem;
    }
    .humburger{
        display: block;
    }
    .humburger i{
        font-size: 2rem;
    }
    .humburger i[data-visible="false"]{
        display: none;
    }
    .humburger i[data-visible="true"]{
        display: block;
    }
   
    .menu-links{
        background-color: #fff;
        margin-top: 19rem;
        flex-direction: column;
        gap: 1rem;
        justify-content:first baseline;
        align-items: start;
        position:absolute;
        left: 0;
        right: 0;
        z-index: 111;
        padding: 2rem 3rem;
        transition: transform 200ms ease-in-out ;
    }
    .menu-links[data-visible="false"]{
        transform: translateY(-145%);
    }
   
    h1{
        font-size:2.375rem ;
        text-align: center;
    }
    strong{
        font-size: .5rem;
        font-weight: 600;
        text-align: center;
    }
    .last_update-grid{ 
        grid-template-columns:1fr;
    }
    
    .events-grid{
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        height: 51.4375rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media (max-width:480px){
    .menu h1{
        font-size: 1.3rem;
    }
    .humburger i{
        font-size: 1.5rem;
    }
   
   
   
    .news-events{
        height: 94.6875rem;
    }
    .events-grid{
        grid-template-columns: 1fr;
    }
    .footer-grid{
        grid-template-columns: 1fr;
    }
    h5{
        font-size: 1.25rem;
    }
}
