@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: "Montserrat", sans-serif;
}
.container{
    width: min(90% ,1120px);
    margin-inline: auto;
}
header{
    height: 5rem;
    background-color: #fff;
    cursor: pointer;
}
.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu h1{
    font-size: 1.625rem;
    font-weight: 700; 
}
.menu h1:hover{
    color: #f44749;
}

.menu-links{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.menu-links li{
    list-style: none;
}
.menu-links li a{
    text-decoration: none;
    font-size: 1.125rem;
    color: #717275;
}
.menu-links .active{
    color: #f44749;
   
}
.menu-links li a:hover{
    color: #f44749;
}
.btn{
    background-color: #dc3545;
    border: none;
    padding: 10px 2rem;
    color: white;
    border-radius: 4px;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1.125rem;
}
.btn:hover{
    background-color:#c02e3d;
}
.humburger{
    display: none;
}
.hero{
    height: 100vh;
    color: #fff;
   
}
.bg-video .video{
    position: absolute;
    top: 5rem;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.overlay{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    position: absolute;
    top: 5rem;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hero-contant{
 z-index: 1;
 
}


@media (max-width:768px){
    .menu{
        gap: 5px;
    }
    .menu h1{
        font-size: 2rem;
    }
    .btn{
        margin-right: 10px;
        padding-inline: 1.5rem;
    }
    .humburger{
        display: block;
    }
    .humburger i{
        font-size: 2rem;
    }
    .humburger i[data-visible="false"]{
        display: none;
    }
    .humburger i[data-visible="true"]{
        display: block;
    }
   
    .menu-links{
        background-color: #fff;
        margin-top: 19rem;
        flex-direction: column;
        gap: 1rem;
        justify-content:first baseline;
        align-items: start;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 111;
        padding: 2rem 3rem;
        transition: transform 200ms ease-in-out ;
    }
    .menu-links[data-visible="false"]{
        transform: translateY(-145%);
    }
}
@media (max-width:480px){
    .menu h1{
        font-size: 1.3rem;
    }
    .humburger i{
        font-size: 1.5rem;
    }
}