@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F9F9F9;
    font-family: "Montserrat", sans-serif;
}
img{
    width: 100%;
}
.container{
    width: min(90% ,1120px);
    margin-inline: auto;
}
header{
    height: 5rem;
    background-color: #fff;
    cursor: pointer;
    position: relative;
   
}
.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu h1{
    font-size: 1.625rem;
    font-weight: 700; 
}
.menu h1:hover{
    color: #f44749;
}

.menu-links{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.menu-links li{
    list-style: none;
}
.menu-links li a{
    text-decoration: none;
    font-size: 1.125rem;
    color: #717275;
}
.menu-links .active{
    color: #f44749;
   
}
.menu-links li a:hover{
    color: #f44749;
}
.btn{
    background-color: #dc3545;
    border: none;
    padding: 10px 2rem;
    color: white;
    border-radius: 4px;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1.125rem;
}
.btn:hover{
    background-color:#c02e3d;
}
.humburger{
    display: none;
}
.hero{
    height: 100vh;
    color: #fff;
   
}
.bg-video .video{
    position: absolute;
    top: 5rem;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.overlay{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    position: absolute;
    top: 5rem;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero-content{
    height: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   gap: 1.5rem;
  
}
.hero-content .left-content{
    display: flex;
    flex-direction: column;
}
.left-content h1{
    font-size: 4rem;
    font-weight:700 ;
    color: #fff;
}
.left-content p{
    font-size: 1.1rem;
    font-weight: 300;
}
.reviews{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.reviews h4{
    font-size: 1.75rem;
    margin-bottom: 0.8rem;
}
 .review-icons i{
    font-size: 1.1rem;
    color: #f3af24;
 }
 .right-content {
    height: 21.5rem;
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/slide/ivan-torres-MQUqbmszGGM-unsplash.jpg")center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem ;
    border-radius: 5px;
    position: relative;
 }
 .name-price{
    display: flex;
    align-items: center;
    gap: 1.5rem;

 }
 .name-price h4{
    font-size: 1.5rem;
    line-height: inherit;
    font-weight: 600;
 }
 .price{
    background-color: #fff;
    color: #f3af24;
    width: 5.25rem;
    height:4rem;
    border-radius: 6.25rem;
    text-align: center;
    line-height: 4rem;
    font-size: 1.125rem;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.2);
 }
 .next-buttons{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
 }
 .next-buttons i{
    width: 3.75rem;
    height: 3.75rem;
    font-size: 2rem;
    line-height: 3.75rem;
    text-align: center;
 }
 .next-buttons i:nth-child(1){
    background-color: #f3af24;
 }
 .next-buttons i:nth-child(2){
    background-color: #f44749;
 }
 .next-buttons i:hover{
    background-color: black;

 }
 
 .special-menus{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
 }
 .head{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
 }
 .specialmenus-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
 }
 .special-items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
 }
 .menu-tag{
    background-color:#ffc107;
    color: #fff;
    position: absolute;
    top: 3%;
    right: 4%;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 14px;
 }
 .reviews h6{
    font-size:1.125rem ;
 }
 .BigImg{
    margin-top: 10rem;
    height:31.25rem ;
    background: url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/alex-haney-CAhjZmVk5H4-unsplash.jpg")top/cover no-repeat;
    
    background-attachment: fixed;
 }
 .news-events{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
 }
 .grid-events-news{
    display: flex;
    flex-direction: column;
    gap: 2rem;
 }
 .news-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
 }
 
 .news{
    height: 18rem;
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: self-start;
   padding: 2rem ;
   gap: .5rem;
   color: #fff;
 }
  h5{
    font-size:1.625rem;
    line-height:2rem;
    font-weight: 500;
 }
 .news1{
   
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/news/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg") top/cover no-repeat;
 }
 .news2{
    
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/news/stefan-johnson-xIFbDeGcy44-unsplash.jpg")center/cover no-repeat;
 }
 .tags{
    background-color: #dc3545;
    color: #fff;
    padding: 0.5rem .8rem;
    border-radius: 5px;
    font-size: 14px;
 }
 .events-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
 }
 .events{
    display:  flex;
    flex-direction: column;
    gap: 2rem;
 }
 .event-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 2rem;
 }
 .event-info h5:hover{
    color: #dc3545;
 }
 .tag-date{
    display:  flex;
    align-items: center;
    gap: 1rem;
 }
 .tag3,.tag5{
    background-color:#0dcaf0;
 }
.tag4{
    background-color: #000;
}
footer{
    margin-top: 10rem;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("https://www.tooplate.com/templates/2129_crispy_kitchen/images/daan-evers-tKN1WXrzQ3s-unsplash.jpg")center/cover no-repeat;
  
}
.footer-site{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 5rem;
}
.footer-site h4{
    font-size: 1.5rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-grid h6{
    font-size:1.375rem;
    color: #fff;
    margin-bottom: 2rem;
}
.footer-grid p{
    color: #AAA;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.footer-grid button{
    background-color: #212529;
    color: #AAA;
    curser:pointer;
}
.footer-grid button:hover{
    color: #fff;
    background-color: #212529;
}
.media i{
    color: #AAA;
    font-size: 1.125rem;
    margin-bottom: 3rem;
    margin-right: 1rem;

}

@media (max-width:768px){
    .menu{
        gap: 5px;
    }
    .menu h1{
        font-size: 2rem;
    }
    .btn{
        margin-right: 10px;
        padding-inline: 1.5rem;
    }
    .humburger{
        display: block;
    }
    .humburger i{
        font-size: 2rem;
    }
    .humburger i[data-visible="false"]{
        display: none;
    }
    .humburger i[data-visible="true"]{
        display: block;
    }
   
    .menu-links{
        background-color: #fff;
        margin-top: 19rem;
        flex-direction: column;
        gap: 1rem;
        justify-content:first baseline;
        align-items: start;
        position:absolute;
        left: 0;
        right: 0;
        z-index: 111;
        padding: 2rem 3rem;
        transition: transform 200ms ease-in-out ;
    }
    .menu-links[data-visible="false"]{
        transform: translateY(-145%);
    }
    .hero{
        height: 100vh;
    }
    .hero-content{
        
        padding-block: 3rem;
       align-items: center;
       grid-template-columns: 1fr;
       gap: 1rem;
    }
    
    .left-content h1{
        font-size: 2.375rem;
        margin-bottom: 0.5rem;
    }
    .specialmenus-grid{
        grid-template-columns: repeat(2,1fr);
    }
    .news-grid{
        grid-template-columns:1fr;
    }
    
    .events-grid{
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        height: 51.4375rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}


@media (max-width:480px){
    .menu h1{
        font-size: 1.3rem;
    }
    .humburger i{
        font-size: 1.5rem;
    }
    .specialmenus-grid{
        grid-template-columns: 1fr;
    }
    .special-menus h2,.news-events h2{
        font-size: 2rem;
    }
    .events-grid{
        grid-template-columns: 1fr;
    } 
    .footer-grid{
        grid-template-columns: 1fr;
    }
    h5{
        font-size: 1.25rem;
    }
}


